In [157]:
import re
import pandas as pd
import numpy as np

In [158]:
mylist=['[intro: bob]\n word word word [closing: Jim]\n word word word', '[intro claire]\n word word word [closing timmy]\n word word word']
df = pd.DataFrame({'id': [123,456],
                  'text':mylist})

In [159]:
df

    id                                               text
0  123  [intro: bob]\n word word word [closing: Jim]\n...
1  456  [intro claire]\n word word word [closing timmy...

In [176]:
dfNames = []
rowNames = []
cleanText = []


for i in df['text']:
    s = re.findall('\[.*?\]', i)
    for j in s:
        try:
            rowNames.append(j.split(':')[1].replace(']',''))    
        except:
            pass
    cleanText.append(re.sub('\[.*?\]', '', i).replace('\n', ''))
    dfNames.append(rowNames)
    rowNames= []

for k in range(len(dfNames)):
    if len(dfNames[k]) == 0:
        dfNames[k] = np.nan

df['Names'] = dfNames
df['text2'] = cleanText
# df['Names'] = df['Names'].apply(lambda y: np.nan if len(y)==0 else y)

In [175]:
df

,id,text,Names,text2
0,123,[intro: bob]\n word word word [closing: Jim]\n...,"[ bob, Jim]",word word word word word word
1,456,[intro claire]\n word word word [closing timmy...,NaN,word word word word word word

In [170]:
for i in df['Names']:
    print(type(i))

<class 'list'>
<class 'float'>